<!DOCTYPE html>
<html lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <link href="/atom.xml" rel="alternate" title="namespace.at services feed" type="application/atom+xml" />
   <link rel="stylesheet" href="/style.css" type="text/css" media="screen, projection" />
</head>
<body>

<div id="center">
<div id="contentleft"><a href="/"><img src="/logo.png"></a><br>
<a href="/faq.html">faq</a><br>
<br>
<a href="https://ssl.namespace.at/munin/">performance</a><br>
</div>
<div id="contentright">

  <h1>{{ page.title }}</h1>

  {{ content }}

</div> 
<div id="footer">
<small>
&copy; 2010. connected by <a href="http://www.nessus.at/">nessus</a>.
</small>
</div>
</div>

</body>
</html>
